.icon-label { color: #FFF; display: block; font-size:15px; }
		
a:link,	a:visited, a:hover, a:active { text-decoration:none; }


.icon-label { color: black; display: block; font-size:20px; font-weight:lighter;}
.icon-springboard { position: absolute; bottom: 0; width: 100%; }

.background-gradient {
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.22, rgb(236,236,236)),
	    color-stop(0.57, rgb(255,255,255)),
	    color-stop(0.84, rgb(236,236,236))
	);
}



#footselect
{
	width:150px;
	margin:0 auto;
	margin-top:-5px;
}
	    
span.title
{ 
 	display:block; text-align:center; margin-top:10px; margin-bottom:20px; 
}